
<div mat-dialog-content>
    <h2>Detalle del movimiento: </h2>
    <p> {{data.descripcion}}</p>
  </div>
  <div mat-dialog-actions >
      <button mat-raised-button color="warn" (click)="onNoClick();">
       CERRAR
      </button>
  </div>