<form [formGroup]="movimientoForm" novalidate class="add-form">   
    <mat-form-field class="add-form-full">
        <input matInput placeholder="Descripcion" formControlName="descripcion" style="width: 100%;"/>
        <mat-error *ngIf="hasError('descripcion', 'maxlength')">Puede ingresar hasta 200 caracteres.</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="add-form-full">
        <mat-label>Tipo de Movimiento</mat-label>
        <mat-select formControlName="tipoMovimientoId" >
            <mat-option *ngFor="let tipoMovimiento of tipoMovimientoList" [value]="tipoMovimiento.id">
                {{tipoMovimiento.descripcion}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('tipoMovimientoId', 'required')">Seleccione un tipo de movimiento.</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="add-form-full">
        <span matPrefix>{{data.codigoMoneda}} $ &nbsp;</span>
        <input matInput placeholder="Importe" formControlName="importe" type="number" tyappTwoDigitDecimaNumber/>
        <mat-error *ngIf="hasError('importe', 'required')">Debe Ingresar un importe.</mat-error>
        <mat-error *ngIf="hasError('importe', 'min')">Debe Ingresar un importe mayor a 0.</mat-error>
        <mat-error *ngIf="hasError('importe', 'pattern')">El separador de decimales debe ser el ".", y debe contener dos decimales</mat-error>
    </mat-form-field>

<section>

    <div>
      <button mat-raised-button color="warn" (click)="onNoClick();">CANCELAR</button>
      <button mat-raised-button color="warn" [disabled]="!movimientoForm.valid" (click)="agregarMovimiento(data.id);">GUARDAR</button>


    </div>
  </section>
</form>