<div *ngIf="cargando" class="full-width">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="!cargando" class="div">


    <h2 style="position: absolute; width: 80%">Cuenta Corriente: {{cuentaCorrienteDto.numeroCuenta}} en
        {{cuentaCorrienteDto.moneda.descripcion}}</h2>
    <button style="margin-left: 90%;" mat-fab color="warn" routerLink="" routerLinkActive="active" class="pull-right">
        <mat-icon title="VOLVER AL INICIO">keyboard_backspace</mat-icon>
    </button>
    <h2>Saldo: {{cuentaCorrienteDto.moneda.codigo}} {{cuentaCorrienteDto.saldo | currency}}</h2>
</div>

<div style="padding-left: 2%">
    <button mat-raised-button color="warn" (click)="openDialogAgregarMovimiento()" class="pull-right">
        AGREGAR MOVIMIENTO <mat-icon title="AGREGAR MOVIMIENTO">add</mat-icon>
    </button>

</div>
<div *ngIf="movimientosList.length > 0">
    <table mat-table [dataSource]="dataMovimientos" class="table">
        <ng-container matColumnDef="tipoMovimiento">
            <th mat-header-cell *matHeaderCellDef> Tipo de Movimiento </th>
            <td mat-cell *matCellDef="let element">{{element.descripcionTipoMovimiento}}</td>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha | date: "dd/MM/yy HH:mm:ss z"}} </td>
        </ng-container>
        <ng-container matColumnDef="importe">
            <th mat-header-cell *matHeaderCellDef> Importe </th>
            <td mat-cell *matCellDef="let element" style="text-align: right; padding-right: 5%;">
                {{cuentaCorrienteDto.moneda.codigo}} {{element.importe | currency}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Detalle </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="openDialogDetalle(element.descripcion)" color="primary" mat-icon-button
                    aria-label="Ver Descripcion">
                    <mat-icon title="VER DETALLE">add</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnMovimientos"></tr>
        <tr mat-row *matRowDef="let row; columns: columnMovimientos;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>