div {
    width: 96%;
    margin: 2%;
  }
  table {
    width: 96%;
    margin: 2%;
  }

  .add-form {
    min-width: 450px;
    max-width: 600px;
    width: 100%;
  }

  .add-form-full {
    width: 100%;
  }

  button{
    margin-right: 4px
  }