<form [formGroup]="cuentaCorrienteForm" novalidate>   
        <mat-form-field>
            <input style="text-transform: uppercase;" matInput placeholder="N&uacute;mero de cuenta" formControlName="numeroCuenta" />
            <mat-error *ngIf="hasError('numeroCuenta', 'required')">Ingrese un n&uacute;mero de cuenta.</mat-error>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Moneda</mat-label>
            <mat-select formControlName="monedaId">
                <mat-option *ngFor="let moneda of monedas" [value]="moneda.id">
                    {{moneda.descripcion}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('monedaId', 'required')">Seleccione una moneda.</mat-error>
        </mat-form-field>

    <section>

        <div style="padding-left: 2%">
          <button mat-raised-button color="warn" routerLink="/" routerLinkActive="active">CANCELAR</button>
          <button mat-raised-button color="warn" [disabled]="!cuentaCorrienteForm.valid" (click)="addCuentaCorriente();">GUARDAR</button>


        </div>
      </section>
</form>