<div *ngIf="cargando" class="full-width">    
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="!cargando">
    <table mat-table [dataSource]="dataCtaCte" class="table" *ngIf="cuentaCorrienteList.length > 0">

        <ng-container matColumnDef="numeroCuenta">
            <th mat-header-cell *matHeaderCellDef> Numero de cuenta </th>
            <td mat-cell *matCellDef="let element">
                <button color="primary" mat-button routerLink="cuentaCorriente/{{element.id}}"
                    routerLinkActive="active"><span><u>{{element.numeroCuenta}}</u></span></button>
            </td>
        </ng-container>

        <ng-container matColumnDef="descripcionMoneda">
            <th mat-header-cell *matHeaderCellDef> Moneda </th>
            <td mat-cell *matCellDef="let element"> {{element.moneda.descripcion}} </td>
        </ng-container>
        <ng-container matColumnDef="saldo">
            <th mat-header-cell *matHeaderCellDef> Saldo </th>
            <td mat-cell *matCellDef="let element" style="text-align: right; padding-right: 5%;">{{element.moneda.codigo}} {{element.saldo | currency}} </td>
        </ng-container>
        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="openDialogEliminar(element.id,element.numeroCuenta)" color="primary" mat-icon-button
                    aria-label="Eliminar">
                    <mat-icon title="ELIMINAR CUENTA CORRIENTE">delete</mat-icon>
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnCtaCte"></tr>
        <tr mat-row *matRowDef="let row; columns: columnCtaCte;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    <div style="padding-left: 2%">
        <button mat-raised-button color="warn" routerLink="cuentaCorriente/add" routerLinkActive="active"
            class="pull-right">
            AGREGAR CUENTA CORRIENTE <mat-icon title="AGREGAR CUENTA CORRIENTE">add</mat-icon>
        </button>

    </div>

</div>