
<div mat-dialog-content>
  <p>Desea eliminar la cuenta {{data.numeroCuenta}}?</p>
</div>
<div mat-dialog-actions align="center">
  
    <button mat-icon-button (click)="onNoClick()">
      <mat-icon title="CANCELAR">keyboard_backspace</mat-icon> 
    </button>
    <button (click)="eliminar(data.id)"  color="warn" mat-icon-button aria-label="Eliminar">
      <mat-icon title="ELIMINAR CUENTA CORRIENTE">delete</mat-icon> 
    </button>
</div>