/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.exito-snackbar {
    background: rgb(33, 243, 156);
    color: black;
  }

  .error-snackbar {
    background: #ff0400;
    color: aliceblue;
  }

  mat-form-field {
    width: 40%;
    padding-left: 2%;
    padding-top: 2%;
  }
  


